RewriteEngine On

# Set the base directory path if your application is in a subdirectory
# Uncomment and adjust the line below if needed
# RewriteBase /your_subdirectory/

RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]
